{"swagger":"2.0","info":{"title":"EDI Benefit Eligibility Inquiry","description":"The EDI 270 Health Care Eligibility/Benefit Inquiry transaction set is used to request information from a healthcare insurance plan about a policy’s coverages, typically in relation to a particular plan subscriber. This transaction is typically sent by healthcare service providers, such as hospitals or medical facilities, and sent to insurance companies, government agencies like Medicare or Medicaid, or other organizations that would have information about a given policy. The 270 transaction is used for inquiries about what services are covered for particular patients (policy subscribers or their dependents), including required copay or coinsurance. It may be used to inquire about general information on coverage and benefits. It may also be used for questions about the coverage of specific benefits for a given plan, such as wheelchair rental, diagnostic lab services, physical therapy services, etc. The 270 document typically includes the following:\n\n1. Details of the sender of the inquiry (name and contact information of the information receiver)\n2. Name of the recipient of the inquiry (the information source)\n3. Details of the plan subscriber about to the inquiry is referring\n4. Description of eligibility or benefit information requested","version":"v1.0.0","termsOfService":"https://beaconhealthoptions.com/terms-and-conditions","license":{"name":"Beacon Health Options License","url":"https://beaconhealthoptions.com/license"},"contact":{"name":"Apigee API Team","url":"https://beaconhealthoptions.com/contact-us","email":"Apigee_Admin@beaconhealthoptions.com"}},"paths":{},"schemes":["https"],"x-servers":[{"description":"UAT Server","url":"https://api-uat.beaconhealthoptions.com"},{"description":"DEV Server","url":"https://api-dev.beaconhealthoptions.com"},{"description":"SIT Server","url":"https://api-sit.beaconhealthoptions.com"},{"description":"Production Server","url":"https://api.beaconhealthoptions.com"}],"consumes":["application/json"],"produces":["application/json","application/xml","text/xml"],"tags":[{"name":"Eligibility","description":"EDI 270/271 - Eligibility and Benefit Inquiry and Response"}],"basePath":"/v1/eligibility","host":"beaconhealthoptions.com","definitions":{"errorSchema":{"description":"Container to hold error data model for X12 transactions","type":"object","required":["errors"],"properties":{"errors":{"type":"array","items":{"type":"object","properties":{"code":{"type":"string","example":"Security-1001"},"userMessage":{"type":"string","example":"Invalid Access Token"},"info":{"type":"string","example":"https://developers.myapi.com/errors/#Security-1001"}}}}}},"eligibiltyRequestModel":{"description":"Use the Eligibility and Benefit Inquiry (270) transaction to inquire about the health care eligibility and benefits associated with a subscriber or dependent.","properties":{"payloadType":{"type":"string","description":"Payload type of EDI X12 request"},"processingMode":{"type":"string","description":"Processing mode of the EDI 270/271 request"},"payloadID":{"type":"string","description":"ID of the EDI X12 request"},"timestamp":{"type":"string","format":"date-time","pattern":"[0-9]{4}-(0[1-9]|1[0-2])-(0[1-9]|[1-2][0-9]|3[0-1]) (2[0-3]|[01][0-9]):[0-5][0-9]","description":"Timestamp the request was sent in"},"payload":{"type":"string","description":"X12 EDI content or payload used for checking member eligibility status"}},"type":"object"},"eligibiltyResponseModel":{"description":"The Eligibility and Benefit Response (271) transaction is used to respond to a request inquiry about the health care eligibility and benefits associated with a subscriber or dependent.","properties":{"payloadType":{"type":"string","description":"Payload type of EDI X12 request"},"processingMode":{"type":"string","description":"Processing mode of the EDI 270/271 request"},"payloadID":{"type":"string","description":"ID of the EDI X12 request"},"senderID":{"type":"string","description":"Sender ID of the EDI X12 request"},"receiverID":{"type":"string","description":"Receiver ID of the EDI X12 request"},"timestamp":{"type":"string","format":"date-time","pattern":"[0-9]{4}-(0[1-9]|1[0-2])-(0[1-9]|[1-2][0-9]|3[0-1]) (2[0-3]|[01][0-9]):[0-5][0-9]","description":"Timestamp the request was sent in"},"payload":{"type":"string","description":"X12 EDI content or payload used for checking member eligibility"}},"type":"object"}},"securityDefinitions":{"oauth2":{"type":"oauth2","description":"The Client Credentials grant is used when applications request an access token to access their own resources, not on behalf of a user.","scopes":{"read":"Allow read scope","write":"Allow write scope","update":"Allow update scope","delete":"Allow delete scope"},"flow":"application","tokenUrl":"https://api-uat.beaconhealthoptions.com/v1/oauth2/accesstoken?grant_type=client_credentials"}},"parameters":{},"x-mock":true,"x-metadata":{"metadata":{"swaggerName":"2d5880294896484fab8f56fa26eafd87","revision":1,"documentation":[{"title":"Oauth 2.0 Client Credentials Flow","summary":"The Client Credentials grant is used when applications request an access token to access their own resources, not on behalf of a user.","content":"# **Client Credentials Flow**\n\nWith machine-to-machine (M2M) applications, such as CLIs, daemons, or services running on your back-end, the system authenticates and authorizes the app rather than a user. For this scenario, typical authentication schemes like username + password or social logins don't make sense. Instead, M2M apps use the Client Credentials Flow (defined in OAuth 2.0 RFC 6749, section 4.4), in which they pass along their Client ID and Client Secret to authenticate themselves and get a token.\n\n### **How it works**\n\n![](https://apiwiz-assets.s3.us-west-2.amazonaws.com/auth-sequence-client-credentials.png)\n\n\n1. Your app authenticates with the Auth0 Authorization Server using its Client ID and Client Secret\n2. our Auth0 Authorization Server validates the Client ID and Client Secret.\n3. Your Auth0 Authorization Server responds with an Access Token.\n4. Your application can use the Access Token to call an API on behalf of itself.\n5. The API responds with requested data.\n\n### **Request Parameters**\n\n**grant_type (required)**\n\nThe grant_type parameter must be set to client_credentials.\n\n**scope (optional)**\n\nYour service can support different scopes for the client credentials grant. In practice, not many services actually support this.\n\n**Client Authentication (required)**\n\nThe client needs to authenticate themselves for this request. Typically the service will allow either additional request parameters client_id and client_secret, or accept the client ID and secret in the HTTP Basic auth header.\n\n### **Example**\n\nThe following is an example authorization code grant the service would receive.\n\n> curl --location --request GET 'https://api-uat.beaconhealthoptions.com/v1/oauth2/accesstoken?grant_type=client_credentials' \\\n> --header 'Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=' \\\n"},{"title":"Using CORS","summary":"APIs are the threads that let you stitch together a rich web experience. But this experience has a hard time translating to the browser, where the options for cross-domain requests are limited to techniques like JSON-P (which has limited use due to security concerns) or setting up a custom proxy (which can be a pain to set up and maintain).","content":"# Introduction\n\nAPIs are the threads that let you stitch together a rich web experience. But this experience has a hard time translating to the browser, where the options for cross-domain requests are limited to techniques like JSON-P (which has limited use due to security concerns) or setting up a custom proxy (which can be a pain to set up and maintain).\n\nCross-Origin Resource Sharing (CORS) is a W3C spec that allows cross-domain communication from the browser. By building on top of the XMLHttpRequest object, CORS allows developers to work with the same idioms as same-domain requests.\n\nThe use-case for CORS is simple. Imagine the site alice.com has some data that the site bob.com wants to access. This type of request traditionally wouldn’t be allowed under the browser’s same origin policy. However, by supporting CORS requests, alice.com can add a few special response headers that allows bob.com to access the data.\n\nAs you can see from this example, CORS support requires coordination between both the server and client. Luckily, if you are a client-side developer you are shielded from most of these details. The rest of this article shows how clients can make cross-origin requests, and how servers can configure themselves to support CORS.\n\n# Adding CORS support to the server\n\nMost of the heavy lifting for CORS is handled between the browser and the server. The browser adds some additional headers, and sometimes makes additional requests, during a CORS request on behalf of the client. These additions are hidden from the client (but can be discovered using a packet analyzer such as Wireshark).\n\n# CORS Server Flowchart\n\n![](https://apiwiz-assets.s3.us-west-2.amazonaws.com/cors_server_flowchart.png)"}],"category":[{"name":"Unsorted","paths":[],"definitions":[]},{"name":"Eligibilty Response Model","paths":[],"definitions":["eligibiltyResponseModel"]},{"name":"Eligibilty Request Model","paths":[],"definitions":["eligibiltyRequestModel"]},{"name":"Eligibilty Error Model","paths":[],"definitions":["errorSchema"]},{"name":"Eligibilty Resource Paths ","paths":["/benefit-inquiry"],"definitions":[]}]}},"security":[{"oauth2":["read","write","update","delete"]}]}